<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <div class="full-height">
    <div class="logo">
      <img src="../../assets/Logo-01.png" class="logo" role="img" width="400" height="500" alt="Logo de la pagina">
    </div>
    <div >
      <form ngForm [formGroup]="queryForm">
        <input class="rounded-button w3-input" type="text" formControlName="query" placeholder="Ingrese su consulta...">
        <button class="search-button" (click)="sendQuery()">Buscar</button>
      </form>
    </div>
  </div>



