img
  height: 80px
  width: 200px


.colorBackground
  background-color: #ffffff
  border-radius: 5px
  border: none

.positionAndSize
  margin-top: 15px
  margin-left: 18%
  width: 30%

.inline
  display: block

.centerBlock
  margin: auto

.buttonClass
  background-color: #3679dc
  color: white
  margin-top: 1%
  margin-left: 1%
  height: 20%

